body {
    background-color:white;
}
img {
  display: block;
    border: 2px solid greenyellow;
    width: 600px;
    height: 800px;
    margin:auto;
}

#start{
 font-style: oblique;
 display: block;
 margin-left: auto;
 margin-right: auto;
}