img {
  display: block;
    border: 2px solid black;
    width: 600px;
    height: 800px;
    margin:auto;
}

body {
    background-color:skyblue;
}

.L {
    display:flex;
    flex-direction:row;
    justify-content:center;
}