img {
  display: block;
    border: 2px solid lightgrey;
    width: 400px;
    height: 300px;
    margin:auto;
}

.H {
  display:flex;
  flex-direction:row;
  justify-content:center;
  gap: 20px;
}
Body {
  background-color:grey;
}