img {
  display: block;
    border: 2px solid greenyellow;
    width: 600px;
    height: 800px;
    margin:auto;
}

#start2-1{
  font-style: oblique;
}

.T {
  display:flex;
  flex-direction:row;
  justify-content:center;
}